{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			Blog || Anurag Upadhyaya
		</title>
		<!-- External Files start -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Material CDN -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue_grey-red.min.css" />
		<script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>

		<!-- Code Highlighter files -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>

		<!-- Style sheet files -->
		<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

		<!-- External Files End -->

		{% block head %}
			
		{% endblock head %}

	</head>
	<body>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <!-- Header -->
		  <header class="mdl-layout__header main_header">
		    <div class="mdl-layout__header-row expand_header">
		   		<span class="mdl-layout-title">DARKLORD</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation mdl-layout--large-screen-only ">
					<a class="mdl-navigation__link nav_font menu_text" href="{% url 'post_list' %}">Home</a>
					<a class="mdl-navigation__link nav_font menu_text" href="{% url 'resume' %}">Profile</a>
					<a class="mdl-navigation__link nav_font menu_text" href="{% url 'contact_me' %}">Contact</a>
					{% if user.is_authenticated %}
						<a class="mdl-navigation__link nav_font menu_text" href="{% url 'post_new' %}">Add Post</a>	
						<a class="mdl-navigation__link nav_font menu_text" href="{% url 'post_draft_list' %}">Drafts</a>
					{% endif %}
				</nav>
		    </div>

		  </header>
		  <!-- Header ends -->

		  <!-- Navigation Drawer -->
		  <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title menu_header">Menu</span>
		    <nav class="mdl-navigation nav_drawer_menu">
		      <a class="mdl-navigation__link nav_font" href="{% url 'post_list' %}">Home</a>
		      <a class="mdl-navigation__link nav_font" href="{% url 'resume' %}">Profile</a>
		      <a class="mdl-navigation__link nav_font" href="{% url 'contact_me' %}">Contact</a>
		      {% if user.is_authenticated %}
					<a class="mdl-navigation__link nav_font" href="{% url 'post_new' %}">Add Post</a>	
					<a class="mdl-navigation__link nav_font" href="{% url 'post_draft_list' %}">Drafts</a>
				{% endif %}
		    </nav>
		  </div>
		  <!-- Navigation drawer ends -->

		  <!-- Main -->
		  <main class="mdl-layout__content">
		  	<div class="main_block">
					{% block content %}
					{% endblock content %}
			</div>

		    <!-- Footer -->
			<footer class="mdl-mini-footer">

			    <div class="mdl-mini-footer__middle-section">
				    <div class="mdl-logo">Anurag Upadhyaya</div>
				    <ul class="mdl-mini-footer__link-list">
				      <li><a href="#" style="color:#d14836;">Help</a></li>
				      <li><a href="#" style="color:#d14836;">Privacy &amp; Terms</a></li>
				    </ul>
				</div>

			</footer>
			<!-- Footer end -->
		  </main>
		  <!-- Main ends -->
		</div>

		{% block footer %}
		{% endblock footer %}

		<!-- DISQUS and Markdown Start-->
		<script id="dsq-count-scr" src="//darklord.disqus.com/count.js" async></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".content-markdown").each(function(){	
					var content = $(this).text()
					var markedContent = marked(content)
					$(this).html(markedContent)
				})
				$(".content-markdown img").each(function(){
					$(this).addClass("img-responsive")
				})
			})
		</script>
		<!-- DISQUS and Markdown End-->

		<!-- Sharing Buttons -->
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "a3901378-3420-4eb1-9364-714bfc6bd8a6", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
		<!-- Sharing end -->
	</body>
</html>